@*@model RazorPages.Pages.UserPageModel
<div>
    <label>Name</label>
    <p>@Model.Name</p>

    <label>Id</label>
    <span>@Model.Id</span>
    <a href="/Entity/User/@Model.Id"></a>

    <label>Level</label>
    @if (@Model.Level < 3)
    {
        <span style="color:gray">灰 @Model.Level</span>
    }
    else if (@Model.Level > 8)
    {
        <span style="color:red">红  @Model.Level</span>
    }
    else
    {
        <span style="color:blue">蓝  @Model.Level</span>
    }

</div>*@