@page 
@model RazorPages.Pages.ArticleListModel
@{
    Layout = "_ContentList";
}
@section upTitle {
   文章列表
}

<!--左01-->
@foreach (var item in Model.viewArticles)
{
    <div class="n-article-box">
        <span class="text-muted">
            <span class="fa fa-calendar"></span>
            @item.CreateTime
        </span>
        <p style="font-size:14px" class="float-right">作者：<a style="font-size:14px" href="#">@item.Author </a></p>
        <br />
        <h5 class="n-margin-y">
            <a href="/Entity/Content/ArticleList?id=@item.Id ">@item.Title</a>
        </h5>
        <p class="n-margin-y">
            @item.Body
            <a href="#" style="margin-left:0px">……</a>
        </p>
        暂时搁置:
        <label class="fa fa-tags">关键字：</label>
        <span class="n-badge">图像</span>
        <span class="n-badge">编码</span>
        <span class="n-badge">颜色</span>
        <span class="n-badge">位图</span>
        <span class="n-badge">矢量</span>
        <!--评论 赞 踩-->
        暂时搁置:
        <div class="pull-right">
            <a class="text-info" href="#">
                <span class="fa fa-comments-o"></span>
                <span>评论：</span>0
            </a>
            <a class="text-success" href="#">
                <span class="fa fa-thumbs-o-up"></span>
                <span>赞：</span>
                <span>0</span>
            </a>
            <a class="text-muted" href="#">
                <span class="fa fa-thumbs-o-down"></span>
                <span>踩：</span>
                <span>0</span>
            </a>
        </div>
    </div>
}
@section pages {
    <div class="row">
        <div class="col-md-8">
            <nav aria-label="Page navigation example">
                <ul class="pagination">

                    @*上一页*@
                    <li class="page-item">
                        <a class="page-link" href="/Entity/Content/ArticleList?pageIndex=@(Model.pageIndex-1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    @for (int i = 0; i < Math.Ceiling((decimal)Model.NewArticles.Count / 4); i++)
                    {
                        <li class="page-item">
                            <a class="page-link" href="/Entity/Content/ArticleList?pageIndex=@i">@(i+1)</a>
                        </li>
                    }
                    @*下一页*@
                    <li class="page-item">
                        <a class="page-link" href="/Entity/Content/ArticleList?pageIndex=@(Model.pageIndex+1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
    <hr />

}